@(title: String)(content: Html, scriptsimport: Html = Html(""), jquery: Html = Html(""))
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("libs/ink/css/ink-min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
  <div class="ink-grid">
    <div class="large-70 push-center">
      <div id="title"><a href="/">git<span>[x]</span>plore</a></div>
      @content
    </div>
  </div>
  
  @* Get jQuery from Google CDN. If it fails, load local file. *@
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">window.jQuery || document.write('<script defer src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text\/javascript"><\/script>')</script>
  
  @* Get Ink js *@
  <script src="@routes.Assets.at("libs/ink/js/ink-all.min.js")" type="text/javascript"></script>
  
  @* Get Backbone *@
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
  <script src="@routes.Assets.at("javascripts/backbone.queryparams.js")" type="text/javascript"></script>
  
  @scriptsimport
  @* End script loading *@
  
  <script type="text/javascript">
    <!--
    $( document ).ready(function() {
      @jquery
    });
    //-->
  </script>
</body>
</html>
