@(title: String)(content: Html, scriptsimport: Html = Html(""))
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("libs/ink/css/ink-min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
  <div class="ink-grid">
    <div class="large-70 push-center">
      <div id="title"><a href="/">git<span>[x]</span>plore</a></div>
      @content
    </div>
  </div>
  <script src="@routes.Assets.at("libs/jquery-1.9.1.min.js")"></script>
  <script src="@routes.Assets.at("libs/ink/js/ink-all.min.js")" type="text/javascript"></script>
  @scriptsimport
</body>
</html>