@(title: String = "GitXplore")

@content = {
  <div id="title">git<span>[x]</span>plore</div>
  <div id="repoinfos">
    <div id="reponame"></div>
    <table id="contributorList" class="ink-table hover"><tbody></tbody></table>
    <table id="commitList" class="ink-table hover"><tbody></tbody></table>
    <ul class="ink-tree-view" id="historyList"></ul>
  </div>
  
  <script type="text/template" id="commitTemplate">
    <% _.each(commits, function(commit) { %>
      <tr>
        <td><%= commit.get("sha") %></td>
        <td class="content-right"><%= commit.get("commiter") %></td>
      </tr>
    <% }); %>
  </script>
  
  <script type="text/template" id="contributorTemplate">
    <% _.each(contributors, function(contributor) { %>
      <tr>
        <td><%= contributor.get("login") %></td>
      </tr>
    <% }); %>
  </script>
  
  <script type="text/template" id="historyTemplate">
    <% for (var contributor in repoHistory) { %>
      <li><span></span><a href="#"><%= contributor %></a>
      <ul>
    <%
      var commits = repoHistory[contributor];
      _.each(commits, function(commit) { %>
          <li><%= commit["sha"] %></li>
      <% }); %>
      </li></ul>
    <% } %>
    </ul>
  </script>
}

@scriptsimport = {
  <script src="@routes.Assets.at("javascripts/repo.gitxplore.backbone.js")" type="text/javascript"></script>
}

@jquery = {
  Ink.requireModules( ['Ink.UI.TreeView_1'], function(TreeView){
    new TreeView( '.ink-tree-view' );
  });
}

@main(title)(content, scriptsimport, jquery)
