@(title: String = "Search | GitXplore")

@content = {
  <form id="repoForm" class="ink-form top-space">
    <div class="control-group">
      <div id="query-wrap" class="control append-symbol">
        <span><input id="query" type="text" placeholder="Repository Name"><i class="icon-large icon-github"></i></span>
      </div>
    </div>
  </form>
  <div id="results"></div>
}

@scriptsimport = {
  <script src="@routes.Assets.at("javascripts/search.gitxplore.js")" type="text/javascript"></script>
}

@main(title)(content, scriptsimport)
