@(repofullname: String, readme: Option[Html], history: Html, timeline: Html)

@content = {
  <h5 id="reponame">@repofullname</h5>
  <div id="repoinfos" class="ink-tabs top">
    <ul class="tabs-nav">
      @readme match {
        case Some(readmeMD) => { <li><a href="#readmeTab">Readme</a></li> }
        case None => {}
      }
      <li><a href="#contributionsTab">Contributions</a></li>
      <li><a href="#timelineTab">Timeline</a></li>
    </ul>
    @readme match {
      case Some(readmeMD) => { <div id="readmeTab" class="tabs-content">@readmeMD</div> }
      case None => {}
    }
    <div id="contributionsTab" class="tabs-content">@history</div>
    <div id="timelineTab" class="tabs-content"><div id="timeline"></div></div>
  </div>
  <script src="@routes.Assets.at("libs/vis/vis.min.js")" type="text/javascript"></script>
  <link href="@routes.Assets.at("libs/vis/vis.css")" rel="stylesheet" type="text/css" />
  @timeline
}

@scriptsimport = {
  <script src="@routes.Assets.at("javascripts/details.gitxplore.js")" type="text/javascript"></script>
}

@main("Repository details | GitXplore")(content, scriptsimport)